# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
vane/
env/
ENV/

parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.env.production
.env.*.local

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# OS
.DS_Store
Thumbs.db
*.bak

# Reports generados
media/reports/*.pdf
media/reports/*.xlsx

# ML Models
apps/ai/models_ml/*.pkl
!apps/ai/models_ml/.gitkeep
